body{
  font-family: "Montserrat", sans-serif;
}



#title {
  background-color: #ff4c68;
  color: white;
}

#photo_logo {
  transform: rotate(30deg);
  transform-origin: bottom left;

}

h1 {
  size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.containder-fluid {
  padding: 3% 15%;
  overflow: hidden;
}

/* Navigation Bar */

#navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}
