body {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-weight:700;
  font-size: 3rem;
  line-height: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 2%;
}

p {
  color: #8f8f8f;
  font-size: 0.9rem;
}

.containder-fluid {
  padding: 3% 15% 0 15%;
}

#photo_id {
  overflow: hidden;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}

#navbar {
  padding-bottom: 4.5rem;
}

/* Download Buttons */
#download_buttom {
  margin: 5% 3% 5% 0
}

/* Title image */
#photo_logo {
  width: 50%;
  transform: rotate(30deg);
  transform-origin: bottom left;
}

/* Features */
#features {
  padding: 7% 15% 7% 15%
}

#icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

#icon:hover {
  color: #ff4c68;
}

#features_box {
  text-align: center;
  padding: 5%
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff
}

.testimonial_image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-inner {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}
