body {
  font-family: "Montserrat";
  text-align: center;
}

h2, h3 {
    font-weight: 700;
}

p {
  color: #8f8f8f;
  font-size: 0.9rem;
}

/* Containers */
.containder-fluid {
  padding: 7% 15%;
}

/* Section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section */
#title {
  overflow: hidden;
}

#title .containder-fluid{
  text-align: left;
  padding: 3% 15% 7%;
}

/* Download Buttons */
#download_buttom {
  margin: 5% 3% 5% 0
}

/* Title image */
#title_image {
  width: 60%;
  transform: rotate(30deg);
  transform-origin: bottom left;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}

#navbar {
  padding-bottom: 4.5rem;
}

/* Features */
#icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

#icon:hover {
  color: #ff4c68;
}

#features_box {
  padding: 5%
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial_image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.h2_testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.h2_price {
  font-size: 2rem;
  line-height: 1.5;
}

.h2_section_heading {
  font-size: 3rem;
  line-height: 1.5;
}

.h3_feature_title {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

.card {
  margin: 5px;
}

/* Call to Action Section */

.big_head {
  font-size: 3.5rem;
  font-weight: 900;
}

/* Footer Section */

.footer_icon {
  margin: 20px 10px
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #title_image {
    position: static;
    transform: rotate(0);
  }
}
